<h2>Contact Form Details:</h2>
<hr>

<p>First Name: <%= @message.first_name  rescue nil %></p>
<p>Middle Name: <%= @message.middle_name  rescue nil %></p>
<p>Last Name: <%= @message.last_name  rescue nil %></p>
<br><br>

<p>Member Type: <%= @message.member_type  rescue nil %></p>
<p>Phone: <%= @message.phone  rescue nil %></p>
<p>Email: <%= @message.email  rescue nil %></p>
<br><br>

<p>Street 1: <%= @message.street1  rescue nil %></p>
<p>Street 2: <%= @message.street2  rescue nil %></p>
<p>Zipcode: <%= @message.zipcode  rescue nil %></p>


