<!-- Fixed navbar -->
<nav id="top" class="navbar navbar-default <%= location %>">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#top" class="navbar-brand pageNav">
				<%= image_tag 'logo_with_text.png', class: 'img-responsive', id: 'logo' %>
			</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><%= link_to 'HOME', '#top', class: 'active pageNav' %></li>
				<li><%= link_to 'ABOUT', '#about', class: 'pageNav' %></li>
				<li><%= link_to 'AMERICAN DEPUTIES', '#deputy', class: 'pageNav' %></li>
				<li><%= link_to 'PERSONAL SECURITY', '#personal', class: 'pageNav' %></li>
				<li><%= link_to 'STORE', '//store.deputizeamerica.org', target: '_blank' %></li>
				<% if true %>
					<li><%= link_to 'JOIN NOW', '#', data: { toggle: 'modal', target: '#preRegisterModal' } %></li>
					<li><%= link_to 'SIGN IN', '#', data: { toggle: 'modal', target: '#preRegisterModal' } %></li>
				<% else %>
					<li><%= link_to 'LOG OUT', '#', method: :delete %></li>
				<% end %>
			</ul>
			<ul id="nav-social" class="navbar-right">
				<li><%= link_to image_tag("design/fb-square.jpg", size: '36x36', style: 'margin-top: 8px;'), 'https://www.facebook.com/DeputizeAmerica/?view_public_for=1459682464290182', target: '_blank' %></li>
				<li><%= link_to image_tag("design/tw-square.jpg", size: '36x36', style: 'margin-top: 8px;'), 'https://twitter.com/DeputizeAmerica', target: '_blank' %></li>
				<!--
				<li><%= link_to image_tag("design/instagram-icon.png", size: '36x36', style: 'margin-top: 8px;'), '#' %></li>
				<li><%= link_to image_tag("design/email-square.jpg", size: '36x36', style: 'margin-top: 8px;'), '#' %></li>
				-->
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
