<%= simple_form_for([(@page || :page), @section]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col col-sm-4">
        <%= f.association :page, include_blank: false %>
      </div>
      <div class="col col-sm-4">
        <%= f.input :position, placeholder: '0' %>
      </div>
      <div class="col col-sm-4">
        <%= f.input :image %>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-4">
        <%= f.input :name %>
      </div>
      <div class="col col-sm-4">
        <%= f.input :visible %>
      </div>
      <div class="col col-sm-4">
        <%= f.input :private %>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-12">
        <%= f.input :content, input_html: { class: 'redactor', style: 'min-height: 500px;' } %>
      </div>
    </div>
  </div>

  <div class="spacer-2"></div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary btn-block' %>
  </div>

<% end %>

<div class="spacer-3"></div>
