<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <br>
            <%= link_to (fa_icon('backward') + ' Back'), page_sections_path(@page), class: 'btn btn-lg btn-primary' %>
            <br><br>

            <p id="notice"><%= notice %></p>

            <%= simple_form_for([:page, @section]) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                  <div class="row">
                    <div class="col col-sm-4">
                      <%= f.association :page %>
                    </div>
                    <div class="col col-sm-4">
                      <%= f.input :position, placeholder: '0' %>
                    </div>
                    <div class="col col-sm-4">
                      <%= f.input :image %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col col-sm-4">
                      <%= f.input :name %>
                    </div>
                    <div class="col col-sm-4">
                      <%= f.input :visible %>
                    </div>
                    <div class="col col-sm-4">
                      <%= f.input :private %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col col-sm-12">
                      <%= f.input :content, input_html: { class: '', style: 'min-height: 500px;' } %>
                    </div>
                  </div>
              </div>

              <div class="spacer-2"></div>

            <% end %>

            <%= link_to (fa_icon('pencil') + ' Edit'), edit_page_section_path(@page, @section), class: 'btn btn-lg btn-primary' %>

            <div class="spacer-3"></div>
            <div class="spacer-3"></div>

            <% content_for :dj do %>
                <script type="text/javascript">
                    $('input, select, textarea, .redactor').prop('disabled', true);
                </script>
            <% end %>

        </div>
    </div>
</div>
