<%= sanitize @content.content, tags: %w{ div img h1 h2 h3 h4 h5 h6 p span code em strong ul li i a br hr}, attributes: %w{ id class data-ride role src href style }  rescue nil %>

<!--

<div class="container-fluid" id="hero">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<%= image_tag 'eagle_1900.jpg', class: 'first-slide' %>
				<div class="container">
					<div class="carousel-caption">
						<div class="hidden-xs hidden-sm">
							<h1 style="text-shadow: 1px 4px 9px black; font-size: 57px;">We Can All Make This Happen</h1>
							<h4><code style="line-height: 25px;" id="about">
								When tested, the American People have always risen to the challenge. Today our country faces threats from abroad and crisis from within to an unprecedented degree.  Stand up for your right to protect yourself and your family from those who would do you harm.
							</code></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container visible-xs visible-sm">
	<div class="row">
		<div class="col-sm-12" style="text-align: center;">
			<h1 style="font-size: 60px;">We Can All Make This Happen</h1>
			<h4><code style="line-height: 25px;">
				When tested, the American People have always risen to the challenge. Today our country faces threats from abroad and crisis from within to an unprecedented degree.  Stand up for your right to protect yourself and your family from those who would do you harm.
			</code></h4>
		</div>
	</div>
</div>


<hr>
<div class="spacer-3"></div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="dark-blue-text" style="font-size: 2.3em;">The Purpose of American Deputy is to Create a Safer America</h2>
			<h4 style="font-size: 1.3em;">A Crowd Sourcing, Public Safety APP for Your Family & Community</h4>
			<br>

			<p class="charcoal-text" style="font-size: 16px;">
				<strong class="medium-blue-text">Security is the number one concern of most Americans!</strong>
				We have created a <strong>Personal Security APP for your families, schools and communities.</strong>
				<strong class="dark-red-text">Most people want to know that their family is safe</strong>, and most people would <strong>go to their child’s aid</strong> if they knew they were in trouble.
				Our app <strong class="dark-red-text">lets you know when someone you love is in trouble</strong> and <strong>exactly where they are</strong>.  <strong>Just like Uber</strong>, you <strong class="medium-blue-text">instantly get directions</strong> to their location.
				<br><br>
				In fact, <strong class="medium-blue-text">everyone you</strong> list (as friends and family) in the App <strong>gets a text of their situation and can respond</strong>.<strong class="light-red-text"> Faster than 911!</strong>
				After you are notified by text, <strong>the phone of the person in trouble automatically begins to record the events</strong> and send them to the Cloud.
				We create a record of the incident.
				<br>
				<strong class="medium-blue-text" id="app">The APP gives you the chance to help your family when they need you the most! Look for it late August 2016!</strong>

			</p>
		</div>
	</div>
</div>

<div class="spacer-3"></div>
<hr>
<div class="spacer-3"></div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 centered">
			<h2 class="light-red-text" style="margin-bottom: 12px;">Protecting Your Loved Ones is Easy As 1... 2... 3...</h2>
			<h5 class="dark-blue-text" style="font-size: 16px; margin-bottom: 36px;">
				Helping people in need of assistance - Locating and helping people in natural disasters, school and university security,<br>
				neighborhood watch enhancement, assisting veterans and creating situational awareness.
			</h5>

		</div>

		<div class="col-sm-12 col-md-4 centered" style="margin-top: 27px;">
			<h4 class="medium-blue-text" style="margin-bottom: 24px;">STEP 1</h4>
			<%= image_tag 'app-step-one.jpg', class: 'img-responsive centeredImg' %>
		</div>

		<div class="col-sm-12 col-md-4 centered" style="margin-top: 27px;">
			<h4 class="medium-blue-text" style="margin-bottom: 24px;">STEP 2</h4>
			<%= image_tag 'app-step-two.jpg', class: 'img-responsive centeredImg' %>
		</div>

		<div class="col-sm-12 col-md-4 centered" style="margin-top: 27px;">
			<h4 class="medium-blue-text" style="margin-bottom: 24px;">STEP 3</h4>
			<%= image_tag 'app-step-three.jpg', class: 'img-responsive centeredImg' %>
		</div>
	</div>
</div>

<div class="spacer-3"></div>
<hr>
<div class="spacer-3"></div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6 charcoal-text">
			<h4 class="centered"><em><strong>Why Become an American Deputy</strong></em></h4>
			<ul class="checkList">
				<li><strong>Take Pride that</strong> - <strong>You will be making a difference in your community and making America Safer</strong></li>
				<li><strong>Help people</strong> during <strong>Natural Disasters</strong> (floods, tornados, hurricanes, blizzards, earthquakes & fires)</li>
				<li><strong>Feel good</strong> – <strong>Knowing that you</strong> - <strong>Make others feel safe</strong></li>
				<li><strong>Help others quickly</strong> in the event of a <strong>crime, accident, terrorist attack or when simply feeling afraid</strong></li>
				<li><strong>Become</strong> a <strong>First Responder</strong> - Stay connected to <strong>people</strong> in your area that <strong>need assistance</strong></li>
				<li><strong>Our goal is to create a team of 10 million Deputy’s to make America Safer</strong></li>
			</ul>
			<div class="centered">
				<strong>By becoming an American Deputy</strong> you get the <strong>privilege to use our First Responders APP </strong>
				(It directs you to where you are needed)
				<br><br>
				<strong>Become part of the solution – Know that when you help others – Others will be helping your family too</strong>
				<br>
				<strong>Take an Oath to Protect Yourself, Your Family and Others in Need</strong>
				<br><br>
				<strong class="dark-red-text">Become an American Deputy</strong>
				<br><br>
				<%= link_to 'PRE-REGISTER NOW!', '#join', class: 'btn btn-primary pageNav', style: 'width: 100%' %>
				<br><br>
				<strong>(For safety purposes a Background check is required)</strong><br>
				<strong>(American Deputy’s receive a 50% discount off the Family Security APP)</strong>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 charcoal-text">
			<h4 class="centered"><em><strong>Benefits of Joining the Deputize America Family APP</strong></em></h4>
			<p>
				<strong>Find your family</strong> during <strong>Natural Disasters</strong> (floods, tornados, hurricanes, blizzards, earthquakes& fires)
				<br><br>
				<strong>Stay in touch</strong> during the day with a touch of a button – <strong>Know that everyone is - Okay    (Mom, Kids & Grandma)</strong>
				<br><br>
				<strong>Get help quickly</strong> in the event of a crime, medical problem, accident, terrorist attack or simply feeling afraid
				<br><br>
				<strong>Know that your children are safe at school or university</strong>
			</p>

			<div class="centered">
				<strong>Personal & Family</strong><br>
				<strong>Security Protection APP</strong>
			</div>

			<ul class="checkList">
				<li>Keeps your family safer</li>
				<li>Keeps your family connected</li>
				<li>Let’s you know when they need help</li>
				<li>Generates a map to find them</li>
				<li>Send private texts, pictures & videos</li>
				<li>Alerts friends & family in an emergency</li>
				<li>Alerts and summons American Deputies at no cost in an emergency</li>
			</ul>

			<div class="centered">
				<strong>A Personal Security System for the Famil</strong>y<br>
				<strong>Special prices for Pre-registered families</strong>

				<br><br>
				<%= link_to 'PRE-REGISTER NOW!', '#join', class: 'btn btn-primary pageNav', style: 'width: 100%' %>
			</div>
		</div>
	</div>
</div>

<div class="spacer-3" id="join"></div>
<hr>
<div class="spacer-3"></div>
-->

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<h2 class="centered dark-blue-text">Pre-Register Today</h2>
			<h4 class="centered dark-red-text">Be part of the Future Americans. Create a Safer America!</h4>
			<h6 class="centered"><em><strong>Launching Late September 2016</strong></em></h6>
			<p class="charcoal-text centered" style="font-size: 16px;">
				Imagine <strong class="medium-blue-text">millions of Americans</strong> that have signed up to help others.  Millions of good hearted people who are <strong>willing to help your family</strong>.
				<strong>These Special Volunteers</strong> are “<strong class="light-red-text">American Deputies</strong>” who have sworn <strong>to help others in need</strong>.  <strong class="medium-blue-text">Our goal is to have 10 million American Deputies</strong>!
				<br><br>
				<strong class="medium-blue-text">So when you or your child is in trouble</strong>, these <strong class="light-red-text">American Deputies</strong> are <strong>instantly notified</strong> through the <strong>APP</strong>.
				<strong>Again, like Uber, they see you and your location</strong> on their smart phones and can <strong class="medium-blue-text">quickly come to your aid</strong>.
				They may be only <strong class="medium-blue-text">seconds or minutes away</strong>.
			</p>

			<hr>

			<%= simple_form_for @data, url: send_form_path, method: :post do |f| %>
				<%= f.error_notification %>

				<div class="row">
					<div class="col-sm-12">
						<%= f.input :member_type, as: :radio_buttons, collection: [['I want to be a Deputy', 'Deputy'], ['I want the App for my Family', 'Family'], ['I want Both', 'Both']], label: 'What Are You Interested In?' %>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 col-md-4" style="margin: 10px 0;">
						<%= f.input :first_name, placeholder: 'John', label: 'First Name' %>
					</div>
					<div class="col-sm-12 col-md-4" style="margin: 10px 0;">
						<%= f.input :middle_name, placeholder: 'Tildon', label: 'Middle Name' %>
					</div>
					<div class="col-sm-12 col-md-4" style="margin: 10px 0;">
						<%= f.input :last_name, placeholder: 'Smith', label: 'Last Name' %>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 col-md-6" style="margin: 5px 0;">
						<%= f.input :email, placeholder: 'john@domain.com' %>
					</div>
					<div class="col-sm-12 col-md-6" style="margin: 5px 0;">
						<%= f.input :phone, placeholder: '214-990-0022' %>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 col-md-4" style="margin: 5px 0 10px;">
						<%= f.input :street1, placeholder: '1135 Main St.', label: 'Street' %>
					</div>
					<div class="col-sm-12 col-md-4" style="margin: 5px 0 10px;">
						<%= f.input :street2, placeholder: 'Suite 112', label: 'Street 2' %>
					</div>
					<div class="col-sm-12 col-md-4" style="margin: 5px 0 10px;">
						<%= f.input :zipcode, placeholder: '75244' %>
					</div>
				</div>

				<%= f.submit 'PRE-REGISTER NOW', class: 'btn btn-red btn-lg btn-primary btn-default', style: 'width: 100%; margin-top: 12px;' %>

			<% end %>

			<p class="charcoal-text centered" style="font-size: 16px; margin-top: 10px;">
				<strong class="medium-blue-text">Now, you are not alone.</strong>
				We are <strong class="medium-blue-text">dedicated to having people</strong> and neighborhoods <strong class="medium-blue-text">safer</strong> in America.
				There are many threats in America today: ISIS, criminals, and other predators.
				Law enforcement, as good as they are, can only do so much.

			</p>
		</div>
	</div>
</div>

<div class="spacer-3"></div>

<% content_for :dj do %>
<script type="text/javascript">
	var $root = $('html, body');
	$('a.pageNav').click(function() {
	    var href = $.attr(this, 'href');
	    $root.animate({
	        scrollTop: $(href).offset().top
	    }, 500, function () {
	        window.location.hash = href;
	    });
	    return false;
	});
</script>
<% end %>
